<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="TurismoReal.Datos.Properties.Settings.ConnectionString"
            connectionString="DATA SOURCE=localhost:1521/xe;USER ID='&quot;C##TURISMO&quot;';TNS_ADMIN=C:\Users\Felipe\Oracle\network\admin;PASSWORD=turismo"
            providerName="Oracle.ManagedDataAccess.Client" />
    </connectionStrings>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="WSPortafolioPortBinding" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8080/WebServicePortafolio/WSPortafolio"
                binding="basicHttpBinding" bindingConfiguration="WSPortafolioPortBinding"
                contract="WSportafolio.WSPortafolio" name="WSPortafolioPort" />
        </client>
    </system.serviceModel>
</configuration>